
 .nav-header{
    .bg-header{
      background-color: #61dafb;
    }
    .navbar-brand{
      color: #333 !important;

    }
    .navbar-nav{
      .navlink{
        color: #333 !important;

        &:hover{
          color: #61dafb !important;
        }
      }
    }
  
    .nav-link{
      &:active{
        color: white !important ;
      }
    }

    .nav-search{
      margin-right: 45px;
    }
    
 }
  
 